* {
    font-family: 'Helvetica';
    color: black;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #C9D6E6;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
    padding: 40px 0 0 0;
}

header img {
    border-radius: 100%;
    border: 10px solid #C9D6E6;
    height: 300px;
    margin-bottom: 0;
    z-index: 2;
    position: relative;
    top: 20px;
    margin-left: 40px;
    flex: 0 0 100%;
}

header .dos {
    background-color: #C9D6E6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    flex: 1;
}

.uno {
    background-color: #EDF3FF;
    margin: auto;
    padding: 10px;
    z-index: 1;
    position: relative;
    flex: 1;
    align-items: center;
}

.dos {
    background-color: #FFFFFF;
    padding: 10px;
    flex: 3;
}

main, .uno, .dos {
    margin: 0;
}

.uno, .dos {
    padding: 40px;
}

main {
    display: flex;
    flex-wrap: wrap;
}

h1, h2, .dos h4 {
    color: #193250;
}

h1 {
    font-family: 'Segoe UI';
    font-size: 70px;
    font-weight: bolder;
    line-height: 60px;
}

hr {
    height: 4px;
    border: none;
    background-color: #193250;
    width: 70px;
    margin: 5px 0 20px 0;
}

article {
    text-align: left;
    display: block;
    margin: 1em;
    gap: 1em;
}

ul {
    padding-left: 15px
}

ul li {
    margin-bottom: 15px;
}

.contactos {
    list-style: none;
    padding: 0; 
    margin: 0; 
}

.contactos li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.contactos li img {
    flex-shrink: 0;
    width: 30px;
}

.contactos li p {
    flex: 1;
}

.contactos li a {
    text-decoration: none;
}
 
a {
    text-decoration: none;
    color: #193250;
    max-width: 100%;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: brown;
}
