*{
    font-family:'Trebuchet MS';
    color: black;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #C9D6E6;
    display: grid;
    gap:3em;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    text-align: left;
    padding: 40px 0 0 0;
    flex-wrap: wrap; 
    
}

header img{
    border-radius: 100%;
    border: 10px solid #C9D6E6;
    height: 200px;
    margin-bottom: 0;
    z-index: 2;
    position: relative;
    top: 20px;
    margin-left: 40px;
}

header .dos{
    background-color: #C9D6E6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

.uno{
    background-color: #EDF3FF;
    margin: auto;
    padding: 20px;
    z-index: 1;
    position: relative;
    max-width: 350px;
    flex:1;
    align-items: center;
}

.dos{
    background-color: #FFFFFF;
    padding: 40px;
    flex:1;
}

main, .uno, .dos{
    margin: 0;
}

.uno, .dos{
    padding: 40px;
}

main{
    display: flex;
    flex-wrap: wrap;  
}

h1, h2{
    color: #193250;
}

h1{
    font-family: 'Franklin Gothic Medium';
}

hr{
    height: 5px;
    border: #193250;
    background-color: #193250;
    width: 50px;
    margin: 5px 0 20px 0;

}

article{
    text-align: left;
    display: block;
    margin: 1em;
    gap: 1em;
}
ul {
    padding-left: 0;
}
ul li {
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    color: #193250;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: brown;
}
